.qrcode-table {
  border:1px solid black;
  padding: 5px;
  font-family: monaco;
  margin-left:auto;
  margin-right:auto;
}

.key-column {
  text-align: right;
  padding-right: 10px;
}

.qrcode-header {
  padding-top: 10px;
}
